$color-1: rgb(149, 208, 212);
$color-2: rgba(115, 164, 185, 1);
$color-3: rgb(255, 255, 255);
$color-4: rgb(228, 239, 245);
$color-5: rgb(211, 239, 250);
$color-6: rgb(60, 61, 61);
$color-7: rgba(119, 128, 128, 0.6);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(149, 208, 212) 16%, rgba(115, 164, 185, 1) 80%);

    #player {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        .header {
            margin-top: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .song-title {
                color: $color-3;
                text-align: center;
                font-size: 20px;
            }

            .singer {
                margin-top: 3px;
                color: $color-4;
                text-align: center;
                font-size: 16px;
            }

            .slide {
                display: flex;
                align-items: center;
                border: 1px solid rgba(240, 239, 239, 0.6);
                background-color: rgb(184, 185, 185, 0.3);
                border-radius: 4px;
                width: 64px;
                height: 7px;
                margin-top: 8px;
                margin-bottom: 20px;

                .current {
                    margin-left: 1px;
                    border-radius: 3px;
                    background-color: $color-3;
                    width: 28px;
                    height: 3px;
                }
            }
        }

        .show-area {
            display: flex;
            width: 200vw;
            height: calc(100vh - 288px);
            justify-content: space-between;
            align-items: center;

            &.home {
                transform: translateX(50vw);
                transition: transform 0.3s;
            }

            &.all-lyrics {
                transform: translateX(-50vw);
                transition: transform 0.3s;
            }

            .show {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 100%;

                .animation {
                    margin-top: 30px;

                    .frame {
                        width: 240px;
                        height: 240px;
                        /* 相对定位 */
                        position: relative;
                        border-radius: 50%;
                        border: 6px solid transparent;
                        border-top-color: #a0eaf0;
                        border-left-color: #a0eaf0;
                        /* 执行动画：动画名 时长 线性的 无限次播放 */
                        animation: spin 2.2s linear infinite;

                        .center {
                            font-size: 17px;
                            color: $color-2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $color-5;
                            position: absolute;
                            left: 45px;
                            top: 45px;
                            right: 45px;
                            bottom: 45px;
                            border-radius: 50%;
                        }
                    }

                    .frame::before {
                        content: "";
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        right: 10px;
                        bottom: 10px;
                        border-radius: 50%;
                        border: 5px solid transparent;
                        border-bottom-color: #a8d5e7;
                        /* 执行动画：动画名 时长 线性的 无限次播放 */
                        animation: spin 2.6s linear infinite;
                    }

                    .frame::after {
                        content: "";
                        position: absolute;
                        left: 21px;
                        top: 21px;
                        right: 21px;
                        bottom: 21px;
                        border-radius: 50%;
                        border: 4px solid transparent;
                        border-right-color: #f0eeee;
                        /* 执行动画：动画名 时长 线性的 无限次播放 */
                        animation: spin 3.2s linear infinite;
                    }
                }

                .lyrics {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    text-align: center;
                    margin-top: 50px;
                    color: $color-6;

                    p {
                        font-size: 16px;
                        margin: 6px;
                    }

                    .current {
                        color: $color-3;
                        // font-size: 16px;
                    }
                }
            }

            .show-lyrics {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 100vw;
                height: 100%;
                overflow: hidden;

                .container {
                    transition: all .6s;

                    p {
                        font-size: 16px;
                        margin: 10px;
                        color: $color-6;
                    }

                    .current {
                        color: $color-3;
                        // font-size: 16px;
                    }
                }
            }
        }

        .Nav-bar {
            margin-bottom: 10px;

            .buttons {
                display: flex;
                justify-content: center;

                svg {
                    width: 24px;
                    height: 24px;
                    margin: 18px;
                    opacity: 0.7;
                }
            }

            .player-bar {
                color: $color-4;
                font-size: 14px;
                display: flex;
                padding: 0 28px;
                margin-top: 10px;
                align-items: center;

                .bar {
                    flex: 1;
                    height: 4px;
                    background: $color-7;
                    border-radius: 2px;
                    margin: 0 16px;

                    .progress {
                        width: 0%;
                        height: 100%;
                        border-radius: 2px;
                        background: $color-3;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            right: -6px;
                            top: -6px;
                            display: block;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background: $color-5;
                            background-size: contain;
                        }
                    }
                }
            }

            .actions {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 28px;
                    height: 28px;
                    margin: 20px;
                    opacity: 0.9;
                }

                .btn-play {
                    width: 52px;
                    height: 52px;
                    opacity: 1;
                }
            }
        }
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}